body {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

.options {
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gContainer {
	max-height: 82vh;
	max-width: 100vw;
	width: 100vw;
	height: 90vh;
	/* overflow: hidden; */
	display: grid;
}

.box {
	width: 25px;
	height: 25px;
	border: 1px solid;
	/* user-select: none; */
	/* cursor: unset; */
}